* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f9f8f3;
    font-size: 1rem;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
}

#top-container {
    position: relative;
    height: calc(100vh - 60px);
}

.header {
    position: absolute;
    height: calc(100vh - 260px);
    width: 100%;
    background-color: transparent;
    color: white;
    margin: 0;
    z-index: 100;
    top: 0;
    left: 0;
}

#particles-js {
    background-color: #0d2955;
    position: absolute;
    height: calc(100vh - 60px);
    width: 100%;
    top: 0;
    left: 0;
}

canvas {
    height: calc(100vh - 60px);
}

#top-border {
    width: auto;
    position: absolute;
    display: block;
    margin-left: calc(-1920px + 100%);
    top: calc(100vh - 260px);
    padding: 0;
    margin-right: 0;
    z-index: 200;
}

h1, h2, h3, h4 {
    margin: unset;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    color: rgb(29, 79, 158);
    margin: 16px auto;
}

p {
    text-align: left;
    margin-top: 12px; 
    margin-bottom: 12px;
}

ul {
    text-align: left;
}

.text-white {
    color: white;
}

.text-left {
    text-align: left;
}

.valign {
    display: flex;
    align-items: center;
}

.section-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.divider {
    width: 90%;
}

.project-container {
    display: flex;
    align-items: top;
    margin: 8px 0;
}

.project-container img {
    object-fit: fill;
    width: 60px;
    height: 60px;
}

.project-description {
    text-align: left;
    padding: 0 8px;
}

.project-description a {
    text-decoration: none;
    color: rgb(157, 28, 28);
    font-weight: bold;
}

.project-description a:hover {
    color: rgb(211, 50, 50);
}

.experience-container {
    text-align: left;
}

.form {
    padding: 8px;
    margin-bottom: 1rem;
    border: 1px solid rgb(29, 79, 158, 0.5);
    border-radius: 4px;
    text-align: left;
}

.form label {
    display: block;
}

.form input,
.form textarea {
    width: calc(100% - 8px);
    margin: 8px auto;
    padding: 4px;
}

.form textarea {
    height: 3rem;
    font-family: 'Lato', sans-serif;
}

.submit-button {
    text-align: center;  
}

#footer {
    height: calc(100vh - 520px);
    background-color: #0d2955;
    color: white;
    margin: 0;
}

@media (min-width: 500px) {
    .section-content {
        width: 70%;
    }
    .divider {
        display: none;
    }
}