* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #f9f8f3; */
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

#top-container {
  position: relative;
  height: calc(100vh - 60px);
}

.header {
  position: absolute;
  height: calc(100vh - 260px);
  width: 100%;
  background-color: transparent;
  color: white;
  margin: 0;
  top: 0;
  left: 0;
}

#particles-js {
  background-color: #0d2955;
  position: fixed;
  height: 100vh;
  /* height: calc(100vh - 60px); */
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

canvas {
  /* height: calc(100vh - 60px); */
  z-index: -10;
}

#top-border {
  width: auto;
  position: absolute;
  display: block;
  margin-left: calc(-1920px + 100%);
  top: calc(100vh - 260px);
  padding: 0;
  margin-right: 0;
  z-index: 200;
}

h1,
h2,
h3,
h4 {
  margin: unset;
  font-family: "Architects Daughter", cursive;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  color: rgb(29, 79, 158);
  margin: 16px auto;
}

h2 {
  color: rgb(29, 79, 158);
  font-size: 2rem;
}

p {
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

ul {
  text-align: left;
}

.text-white {
  color: white;
}

.text-left {
  text-align: left;
}

.valign {
  display: flex;
  align-items: center;
}

section {
  padding-top: 3rem;
  background-color: #f9f8f3;
}

.section-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.divider {
  width: 100%;
  background-color: #f9f8f3;
}

.divider hr {
  width: 90%;
  margin: 0 auto;
}

.project-container {
  align-items: top;
  margin: 16px auto;
  padding: 4px;
  border-radius: 4px;
  border: 1px #ccc solid;
  border-style: groove;
  max-width: 600px;
}

.project-container > img {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.project-description {
  text-align: left;
  padding: 8px;
}

.image-container {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.link-container {
  margin: 12px auto;
  text-align: center;
}

.link-button {
  text-decoration: none;
  font-family: "Architects Daughter", cursive;
  font-size: 1.1rem;
  border-radius: 4px;
  padding: 8px;
  color: white;
  background-color: rgb(240, 125, 80);
  margin-right: 16px;
  cursor: pointer;
}

.link-button:hover {
  background-color: rgb(240, 105, 60);
}

.link-button:active {
  background-color: rgb(241, 90, 41);
}

.experience-container {
  text-align: left;
}

.form {
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid rgb(29, 79, 158, 0.5);
  border-radius: 4px;
  text-align: left;
}

.form label {
  display: block;
}

.form input,
.form textarea {
  width: calc(100% - 8px);
  margin: 8px auto;
  padding: 4px;
}

.form textarea {
  height: 3rem;
  font-family: "Lato", sans-serif;
}

.submit-button {
  text-align: center;
  justify-content: center;
}

.bottom-border {
  height: 8px;
  margin: 0;
  background-color: #f15a29;
}

#footer {
  /* height: calc(100vh - 520px); */
  height: 128px;
  background-color: inherit;
  color: white;
  margin: 0;
  font-size: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  color: white;
  margin: 4px;
  font-size: 1rem;
}

#footer p {
  font-size: 0.75rem;
}

#footer a:hover,
#footer a:active {
  color: #c1d3fa;
}

@media (min-width: 500px) {
  .section-content {
    width: 70%;
  }
  .divider {
    display: none;
  }
}
